.snippet {
	position: relative;
	background: #fff;
	padding: 2rem 5%;
	margin: 1.5rem 0;
	box-shadow: 0 0.4rem 0.8rem -0.1rem rgba(0, 32, 128, 0.1), 0 0 0 1px #f0f2f7;
	border-radius: 0.25rem;
}

.examples .snippet:before {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 5px;
	content: attr(data-title);
	font-size: 0.75rem;
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
	color: white;
	background-color: rgb(255, 25, 100);
	border-radius: 0.25rem 0 0.25rem 0;
}

.stage {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 2rem 0;
	margin: 0 -5%;
	overflow: hidden;
}

.filter-contrast {
	filter: contrast(5);
	background-color: white;
}

.fadeOut {
	animation: fadeOut ease 2s;
	-webkit-animation: fadeOut ease 2s;
	-moz-animation: fadeOut ease 2s;
	-o-animation: fadeOut ease 2s;
	-ms-animation: fadeOut ease 2s;
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-o-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-ms-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/**
 * ==============================================
 * Dot Spin
 * ==============================================
 */
.dotSpin {
	position: relative;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: transparent;
	color: transparent;
	box-shadow: 0 -18px 0 0 #9880ff, 12.72984px -12.72984px 0 0 #9880ff, 18px 0 0 0 #9880ff,
		12.72984px 12.72984px 0 0 rgba(152, 128, 255, 0), 0 18px 0 0 rgba(152, 128, 255, 0),
		-12.72984px 12.72984px 0 0 rgba(152, 128, 255, 0), -18px 0 0 0 rgba(152, 128, 255, 0),
		-12.72984px -12.72984px 0 0 rgba(152, 128, 255, 0);
	animation: dotSpin 1.5s infinite linear;
}

@keyframes dotSpin {
	0%,
	100% {
		box-shadow: 0 -18px 0 0 #9880ff, 12.72984px -12.72984px 0 0 #9880ff, 18px 0 0 0 #9880ff,
			12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0),
			-12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0),
			-12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
	}
	12.5% {
		box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72984px -12.72984px 0 0 #9880ff, 18px 0 0 0 #9880ff,
			12.72984px 12.72984px 0 0 #9880ff, 0 18px 0 -5px rgba(152, 128, 255, 0),
			-12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0),
			-12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
	}
	25% {
		box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0),
			18px 0 0 0 #9880ff, 12.72984px 12.72984px 0 0 #9880ff, 0 18px 0 0 #9880ff,
			-12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0),
			-12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
	}
	37.5% {
		box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0),
			18px 0 0 -5px rgba(152, 128, 255, 0), 12.72984px 12.72984px 0 0 #9880ff, 0 18px 0 0 #9880ff,
			-12.72984px 12.72984px 0 0 #9880ff, -18px 0 0 -5px rgba(152, 128, 255, 0),
			-12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
	}
	50% {
		box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0),
			18px 0 0 -5px rgba(152, 128, 255, 0), 12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0),
			0 18px 0 0 #9880ff, -12.72984px 12.72984px 0 0 #9880ff, -18px 0 0 0 #9880ff,
			-12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
	}
	62.5% {
		box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0),
			18px 0 0 -5px rgba(152, 128, 255, 0), 12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0),
			0 18px 0 -5px rgba(152, 128, 255, 0), -12.72984px 12.72984px 0 0 #9880ff, -18px 0 0 0 #9880ff,
			-12.72984px -12.72984px 0 0 #9880ff;
	}
	75% {
		box-shadow: 0 -18px 0 0 #9880ff, 12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0),
			18px 0 0 -5px rgba(152, 128, 255, 0), 12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0),
			0 18px 0 -5px rgba(152, 128, 255, 0), -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0),
			-18px 0 0 0 #9880ff, -12.72984px -12.72984px 0 0 #9880ff;
	}
	87.5% {
		box-shadow: 0 -18px 0 0 #9880ff, 12.72984px -12.72984px 0 0 #9880ff, 18px 0 0 -5px rgba(152, 128, 255, 0),
			12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0),
			-12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0),
			-12.72984px -12.72984px 0 0 #9880ff;
	}
}

/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
.dot-pulse {
	position: relative;
	left: -9999px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #9880ff;
	color: #9880ff;
	box-shadow: 9999px 0 0 -5px #9880ff;
	animation: dotPulse 1.5s infinite linear;
	animation-delay: 0.25s;
}

.dot-pulse::before,
.dot-pulse::after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 0;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #9880ff;
	color: #9880ff;
}

.dot-pulse::before {
	box-shadow: 9984px 0 0 -5px #9880ff;
	animation: dotPulseBefore 1.5s infinite linear;
	animation-delay: 0s;
}

.dot-pulse::after {
	box-shadow: 10014px 0 0 -5px #9880ff;
	animation: dotPulseAfter 1.5s infinite linear;
	animation-delay: 0.5s;
}

@keyframes dotPulseBefore {
	0% {
		box-shadow: 9984px 0 0 -5px #9880ff;
	}
	30% {
		box-shadow: 9984px 0 0 2px #9880ff;
	}
	60%,
	100% {
		box-shadow: 9984px 0 0 -5px #9880ff;
	}
}

@keyframes dotPulse {
	0% {
		box-shadow: 9999px 0 0 -5px #9880ff;
	}
	30% {
		box-shadow: 9999px 0 0 2px #9880ff;
	}
	60%,
	100% {
		box-shadow: 9999px 0 0 -5px #9880ff;
	}
}

@keyframes dotPulseAfter {
	0% {
		box-shadow: 10014px 0 0 -5px #9880ff;
	}
	30% {
		box-shadow: 10014px 0 0 2px #9880ff;
	}
	60%,
	100% {
		box-shadow: 10014px 0 0 -5px #9880ff;
	}
}
