html {
}

img:before {
	content: ' ';
	display: block;
	position: absolute;
	height: 72px;
	width: 72px;
	background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}

.scrollParent {
}

.scrollArea {
	scroll-behavior: smooth;
}

.dot-spin {
	position: relative;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: transparent;
	color: transparent;
	box-shadow: 0 -18px 0 0 #9880ff, 12.72984px -12.72984px 0 0 #9880ff, 18px 0 0 0 #9880ff,
		12.72984px 12.72984px 0 0 rgba(152, 128, 255, 0), 0 18px 0 0 rgba(152, 128, 255, 0),
		-12.72984px 12.72984px 0 0 rgba(152, 128, 255, 0), -18px 0 0 0 rgba(152, 128, 255, 0),
		-12.72984px -12.72984px 0 0 rgba(152, 128, 255, 0);
	animation: dotSpin 1.5s infinite linear;
}
