.Table {
	border-spacing: 0px;
	background: #fff;
	box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
}

.Header {
	font-weight: bold;
	border: 1px solid #000000;
	text-align: center;
}

.fixed-postion {
	position: fixed;
}

.Cell {
	border: 1px solid #f4f6f8;
	padding: 4px;
	text-align: left;
	max-width: 150px;
	line-height: 50px;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.caption {
	display: table-caption;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

.table {
	display: table;
	width: 100%;
	background-color: #eee;
	border: 1px solid #666666;
	border-spacing: 5px; /* cellspacing:poor IE support for  this */
}

.header {
	display: table-header-group;
	font-weight: bold;
	text-align: center;
}

.headerCell {
	display: table-cell;
}

.body {
	display: table-row-group;
}

.row {
	display: table-row;
	line-height: 45px;
}
/*
.rowCell{
	display: table-cell;
	max-width: 150px;
	text-align: left;
	clip-path: inset(100px 50px);

	transition: all ease-in-out .3s;
	//background-color:#ffffff;

	&__infoicon {
		position:absolute;
		top:10px;
		right:28px;
		font-size:1.4em;
		color:#000000;
		transition:ease-out .3s;
	}
	&__title {
		margin:0;
		font-size: 3em;
		line-height:1.8;
	}
	&__description {
		margin:0;
		font-size: 1.1em;
		line-height:1.6;
	}
	&__credits {
		margin:0;
		padding: 4px 0;
		font-size: 1.1em;
	}
	&__reference {
		display:inline-block;
		border-bottom: 1px solid transparent;
		color:#0099ff;
		text-decoration:none;
		transition: ease-in .3s;
		&:hover {
			 border-bottom-color: #0099ff;
		}
	}
	&:hover, &:focus {
		clip-path: circle(75%);
		border-radius:20px;
		box-shadow: 0px 3px 9px rgba(0,0,0,0.12),
								0px 3px 18px rgba(0,0,0,0.08);
		background:#ffffff;
		outline:none;
		.card__infoicon {
			opacity: 0;
		}
	}
	&:focus {
		box-shadow: 0px 3px 9px rgba(0,0,0,0.12), 
								0px 3px 18px rgba(0,0,0,0.08), 
								0px 0px 0px 4px rgba(0,0,0,0.2);
	}
}
*/
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}
